
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page404</title>
    <link href="~/Content/colorlib-error-404-12/css/style.css" rel="stylesheet" />
</head>
<body>
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>4<span></span>4</h1>
            </div>
            <h2>Aradığınız Sayfa Bulunamadı..</h2>
            <p></p>
            <a href="/Blog/Index/">Anasayfa'ya Dön</a>
        </div>
    </div>
</body>
</html>
